<section id="service" class="layers page_current">
    <h2 style="display:none">service</h2>
    <div tabindex="3" class="page_content">
        <div class="container-fluid no-marg">
            <div class="row row_responsive">
                <div class="col-lg-11 section_general">
                    <header class="section-header">
                        <h3 class="section-title">Services - My Services</h3>
                        <p>Awesome &amp; Creative Services For You</p>
                        <div class="border-divider"></div>
                    </header>
                    <div class="row service_intro section_separate">
                        <div class="title-section">
                            <h2 class="section_title">Our Principles</h2>
                            <div class="sep2"></div>
                        </div>
                        <div class="col-md-6 para_serv">
                            <img src="/assets/01.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-6">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet est non massa aliquet dictum eget eu sem. Cras ornare quam et lorem luctus, et dapibus lectus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Mauris luctus imperdiet purus vel bibendum. Phasellus ultrices hendrerit mauris nec gravida.</p>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                            <a href="#" class="btn btn_service_intro">read more</a>
                        </div>
                    </div>
                    <div class="row service_style_3 section_separate">
                        <div class="title-section">
                            <h2 class="section_title">Our Services</h2>
                            <div class="sep2"></div>
                        </div>
                        <div class="col-md-12 services_3">
                            <div class="col-md-4 services_item"> 
                                <a href="#">
                                    <img src="/assets/01.jpg" alt="">
                                </a>
                                <h5>Why choose Us.</h5>
                                <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                            </div>
                            <div class="col-md-4 services_item"> 
                                <a href="#">
                                    <img src="/assets/01.jpg" alt="">
                                </a>
                                <h5>What we Do.</h5>
                                <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                            </div>
                            <div class="col-md-4 services_item">
                                <a href="#">
                                    <img src="/assets/01.jpg" alt="">
                                </a>
                                <h5>Our Mission.</h5>
                                <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row section_separate">
                        <div class="title-section">
                            <h2 class="section_title">Our Services 1</h2>
                            <div class="sep2"></div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="service-content">
                                <h3>Making Money</h3>
                                <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p>
                                <span class="service-icon"> <i class="fa fa-tag"></i></span>
                            </div>
                        </div>  
                        <div class="col-md-4 col-sm-4">
                            <div class="service-content">
                                <h3>Easy to Customize</h3>
                                <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p>
                                <span class="service-icon"> <i class="fa fa-cogs"></i></span>
                            </div>
                        </div> 
                        <div class="col-md-4 col-sm-4">
                            <div class="service-content">
                                <h3>Moving Let Us Help</h3>
                                <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p>
                                <span class="service-icon"> <i class="fa fa-arrows-alt"></i></span>
                            </div>
                        </div>  
                    </div>
                    <div class="row section_separate services-wrapper">
                        <div class="title-section">
                            <h2 class="section_title">Our Services 2</h2>
                            <div class="sep2"></div>
                        </div>
                        <div class="col-md-4 col-sm-6 service-wrapper">
                            <div class="service service-2">
                                <div class="service-icon"><i class="fa fa-desktop"></i></div>
                                <div class="service-contents">
                                    <h5 class="service-title"><a href="#">Web Design</a></h5>
                                    <div class="border-divider"></div>
                                    <p class="service-description">The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 service-wrapper">
                            <div class="service service-2">
                                <div class="service-icon"><i class="fa fa-mobile"></i></div>
                                <div class="service-contents">
                                    <h5 class="service-title"><a href="#">App Development</a></h5>
                                    <div class="border-divider"></div>
                                    <p class="service-description">The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 service-wrapper">
                            <div class="service service-2">
                                <div class="service-icon"><i class="fa fa-heart-o"></i></div>
                                <div class="service-contents">
                                    <h5 class="service-title"><a href="#">UX/UI DESIGN</a></h5>
                                    <div class="border-divider"></div>
                                    <p class="service-description">The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row section_separate">
                        <div class="title-section">
                            <h2 class="section_title">Our Services 3</h2>
                            <div class="sep2"></div>
                        </div>
                        <div class="col-md-4 margin20">
                            <div class="services-box wow">
                                <div class="services-box-icon">
                                    <i class="fa fa-pencil"></i>
                                </div>
                                <div class="services-box-info">
                                    <h4>Web &amp; Graphics Design</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 margin20">
                            <div class="services-box wow">
                                <div class="services-box-icon">
                                    <i class="fa fa-globe"></i>
                                </div>
                                <div class="services-box-info">
                                    <h4>Web Development</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 margin20">
                            <div class="services-box wow">
                                <div class="services-box-icon">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="services-box-info">
                                    <h4>Customer Support</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 margin20">
                            <div class="services-box wow">
                                <div class="services-box-icon">
                                    <i class="fa fa-desktop"></i>
                                </div>
                                <div class="services-box-info">
                                    <h4>Web Design</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 margin20">
                            <div class="services-box wow">
                                <div class="services-box-icon">
                                    <i class="fa fa-mobile"></i>
                                </div>
                                <div class="services-box-info">
                                    <h4>App Development</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 margin20">
                            <div class="services-box wow">
                                <div class="services-box-icon">
                                    <i class="fa fa-heart-o"></i>
                                </div>
                                <div class="services-box-info">
                                    <h4>UX/UI DESIGN</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row section_separate">
                        <div class="title-section">
                            <h2 class="section_title">Our Services 4</h2>
                            <div class="sep2"></div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">
                                                Web design service
                                                <i class="fa fa-plus" style="float: right;font-size: 11px; line-height: 16px;"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet est non massa aliquet dictum eget eu sem. Cras ornare quam et lorem luctus, et dapibus lectus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Mauris luctus imperdiet purus vel bibendum. Phasellus ultrices hendrerit mauris nec gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet est non massa aliquet dictum eget eu sem. Cras ornare quam et lorem luctus, et dapibus lectus porttitor.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                                                Easy to Customize
                                                <i class="fa fa-plus" style="float: right;font-size: 11px; line-height: 16px;"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet est non massa aliquet dictum eget eu sem. Cras ornare quam et lorem luctus, et dapibus lectus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Mauris luctus imperdiet purus vel bibendum. Phasellus ultrices hendrerit mauris nec gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet est non massa aliquet dictum eget eu sem. Cras ornare quam et lorem luctus, et dapibus lectus porttitor.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapse_tabs">
                                                Moving Let Us Help
                                                <i class="fa fa-plus" style="float: right;font-size: 11px; line-height: 16px;"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet est non massa aliquet dictum eget eu sem. Cras ornare quam et lorem luctus, et dapibus lectus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Mauris luctus imperdiet purus vel bibendum. Phasellus ultrices hendrerit mauris nec gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet est non massa aliquet dictum eget eu sem. Cras ornare quam et lorem luctus, et dapibus lectus porttitor.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapsefoor" class="collapse_tabs">
                                                Graphic design service
                                                <i class="fa fa-plus" style="float: right;font-size: 11px; line-height: 16px;"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapsefoor" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet est non massa aliquet dictum eget eu sem. Cras ornare quam et lorem luctus, et dapibus lectus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Mauris luctus imperdiet purus vel bibendum. Phasellus ultrices hendrerit mauris nec gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet est non massa aliquet dictum eget eu sem. Cras ornare quam et lorem luctus, et dapibus lectus porttitor.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row section_separate">
                        <div class="title-section">
                            <h2 class="section_title">Our Services 5</h2>
                            <div class="sep2"></div>
                        </div>
                        <div class="col-md-12">
                            <div role="tabpanel">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#desktop" aria-controls="desktop" role="tab" data-toggle="tab"><i class="fa fa-desktop"></i>Web Design</a></li>
                                    <li role="presentation"><a href="#mobile" aria-controls="mobile" role="tab" data-toggle="tab"><i class="fa fa-globe"></i>Web Development</a></li>
                                    <li role="presentation"><a href="#heart" aria-controls="heart" role="tab" data-toggle="tab"><i class="fa fa-heart-o"></i>DESIGN</a></li>
                                    <li role="presentation"><a href="#users" aria-controls="users" role="tab" data-toggle="tab"><i class="fa fa-users"></i>Support</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="desktop">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem ipsum dolor color sit amet.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet est non massa aliquet dictum eget eu sem. Cras ornare quam et lorem luctus, et dapibus lectus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Mauris luctus imperdiet purus vel bibendum. Phasellus ultrices hendrerit mauris nec gravida.</p>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="mobile">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem ipsum dolor color sit amet.</p>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="heart">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem ipsum dolor color sit amet.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet est non massa aliquet dictum eget eu sem. Cras ornare quam et lorem luctus, et dapibus lectus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Mauris luctus imperdiet purus vel bibendum. Phasellus ultrices hendrerit mauris nec gravida.</p>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="users">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem ipsum dolor color sit amet.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pricing-zoom section_separate"> 
                        <div class="title-section">
                            <h2 class="section_title">Our Pricing</h2>
                            <div class="sep2"></div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="pricing">
                                <div class="pricing-head">
                                    <h3>Standard <span>Ideal for Personal Websites </span></h3>
                                    <h4><i>$</i>19<i>.99</i> <span>Per Month</span></h4>
                                </div>
                                <ul class="pricing-content list-unstyled">
                                    <li><i class="fa fa-gift"></i> Free customisation </li>
                                    <li><i class="fa fa-inbox"></i> 24 hour support</li>
                                    <li><i class="fa fa-globe"></i> 10 GB Disckspace</li>
                                    <li><i class="fa fa-cloud-upload"></i> Cloud Storage</li>
                                    <li><i class="fa fa-umbrella"></i> Online Protection</li>
                                </ul>
                                <div class="pricing-footer">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum olor .</p>
                                    <a class="btn-u" href="#"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                                </div>                    
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="pricing active">
                                <div class="pricing-head">
                                    <h3>Premium <span>Ideal for Personal Websites</span></h3>
                                    <h4><i>$</i>29<i>.99</i> <span>Per Month</span></h4>
                                </div>
                                <ul class="pricing-content list-unstyled">
                                    <li><i class="fa fa-gift"></i> Free customisation </li>
                                    <li><i class="fa fa-inbox"></i> 24 hour support</li>
                                    <li><i class="fa fa-globe"></i> 10 GB Disckspace</li>
                                    <li><i class="fa fa-cloud-upload"></i> Cloud Storage</li>
                                    <li><i class="fa fa-umbrella"></i> Online Protection</li>
                                </ul>
                                <div class="pricing-footer">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum olor .</p>
                                    <a class="btn-u" href="#"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                                </div>                    
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="pricing">
                                <div class="pricing-head">
                                    <h3>Professional <span>Ideal for Personal Websites </span></h3>
                                    <h4><i>$</i>39<i>.99</i><span>Per Month</span></h4>
                                </div>
                                <ul class="pricing-content list-unstyled">
                                    <li><i class="fa fa-gift"></i> Free customisation </li>
                                    <li><i class="fa fa-inbox"></i> 24 hour support</li>
                                    <li><i class="fa fa-globe"></i> 10 GB Disckspace</li>
                                    <li><i class="fa fa-cloud-upload"></i> Cloud Storage</li>
                                    <li><i class="fa fa-umbrella"></i> Online Protection</li>
                                </ul>
                                <div class="pricing-footer">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum olor .</p>
                                    <a class="btn-u" href="#"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                                </div>                    
                            </div>
                        </div>
                    </div>
                    <div class="row testimonials section_separate" style="margin-bottom:0"> 
                        <div class="title-section">
                            <h2 class="section_title">Testimonials</h2>
                            <div class="sep2"></div>
                        </div>
                        <div class="col-md-12 testimonials"> 
                            <div class="col-md-6 clearfix li-testimonials">     
                                <img src="/assets/01.jpg" class="img_testimonials" alt="" height="100" width="100">
                                <p>“Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.”</p>
                                <span>Brewer Burks, <strong>UX Designer</strong></span>
                            </div>
                            <div class="col-md-6 clearfix li-testimonials">     
                                <img src="/assets/01.jpg" class="img_testimonials" alt="" height="100" width="100">
                                <p>“Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.”</p>
                                <span>Rose Faithe, <strong>Co-Founder</strong></span>
                            </div>
                            <div class="col-md-6 clearfix li-testimonials last_testimonials">  
                                <img src="/assets/01.jpg" class="img_testimonials" alt="" height="100" width="100">
                                <p>“Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.”</p>
                                <span>Jose Santonio, <strong>Marketing Director</strong></span>
                            </div>
                            <div class="col-md-6 clearfix li-testimonials last_testimonials">    
                                <img src="/assets/01.jpg" class="img_testimonials" alt="" height="100" width="100">
                                <p>“Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.”</p>
                                <span>Pamela Travis, <strong>Assistant Coordinator</strong></span>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>