<div id="wrappers">
 <!-- #header -->
    <header tabindex="0" style="overflow-y: hidden;" id="header">
        <div style="display: none;" data-original-title="Close Menu" class="menu_closed" id="menu_closed" title="" data-toggle="tooltip">
            <i class="fa fa-times"></i>
        </div>
        <div class="logo">
            <a href="#"><img src="/assets/01.jpg" alt="Logo" height="122" width="122"></a>
        </div>
        <h4 class="tagline">This is a lovely area for the tagline</h4>
        <!-- .navigation -->    
        <nav class="navigation">
            <ul class="list-unstyled">
                <li class="profile active">
                    <a href="#profile" class="profile link_menu"><i class="fa fa-user icon_menus"></i><span class="nav-label">profile</span></a>
                </li>
                <li class="service">
                    <a href="#service" class="service link_menu"><i class="fa fa-cog icon_menus"></i> <span class="nav-label">services</span></a>
                </li>
                <li class="resume">
                    <a href="#resume" class="resume link_menu"><i class="fa fa-tasks icon_menus"></i> <span class="nav-label">resume</span></a>
                </li>
                <li class="portfolio">
                    <a href="#portfolio" class="portfolio link_menu"><i class="fa fa-briefcase icon_menus"></i> <span class="nav-label">portfolio</span></a>
                </li>
                <li class="blog">
                    <a href="#blog" class="blog link_menu"><i class="fa fa-bullhorn icon_menu"></i> <span class="nav-label">blog</span></a>
                </li>
                <li class="contact">
                    <a href="#contact" class="contact link_menu"><i class="fa fa-paper-plane icon_menus"></i> <span class="nav-label">contact</span></a>
                </li>
            </ul>
        </nav>
        <!-- End .navigation -->    
        <!-- #header_social_ul -->  
        <div class="social-ul" id="header_social_ul">
            <ul>
                <li class="social-twitter"><a href="#" target="_blank" title="" data-toggle="tooltip" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li class="social-facebook"><a href="#" target="_blank" title="" data-toggle="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li class="social-google"><a href="#" target="_blank" title="" data-toggle="tooltip" data-original-title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                <li class="social-linkedin"><a href="#" target="_blank" title="" data-toggle="tooltip" data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li class="social-dribbble"><a href="#" target="_blank" title="" data-toggle="tooltip" data-original-title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
                <li class="social-behance"><a href="#" target="_blank" title="" data-toggle="tooltip" data-original-title="Behance"><i class="fa fa-behance"></i></a></li>
            </ul>
        </div>
        <!-- End #header_social_ul -->  
        <!-- .copyright --> 
        <div class="copyright">
            <p style="margin-bottom:0;">© 2015.by <a href="http://themeforest.net/user/flexycodes">Flexycodes</a></p>       
        </div>
        <!-- End.copyright -->  
    </header>
<!-- End #header -->
    <div class="header-main">
        <div class="content_wrappers">      
            <div class="logo_wrapper">
                <span class="site_title">
                    <a href="" title="Throne">
                        <img src="" alt="FlexyBlog">
                    </a>
                </span>
            </div>
            <a class="nav-btn menu_close" id="btn_open_menu" href="#"><i class="fa fa-bars"></i></a>
        </div>
    </div> 
    <div id="main">
        <section id="profile" class="layers page_current">
            <h2 style="display:none">profile</h2>
            <div tabindex="2" class="page_content">
                <div class="block-header">
                    <div class="row no-marg my_profile">
                        <div class="col-xs-12 col-md-6 no-padd image_profile">
                        </div>
                        <div class="col-xs-12 col-md-6 no-padd image_profile_resp">
                            <div class="home_profile_resp"> 
                                <img src="/assets/01.jpg" alt=""> 
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 no-padd info_profile">
                            <div class="bg_desc clearfix">
                                <div class="inner-text">
                                    <h2>I am Karthick</h2>
                                    <small class="myjob">web developer</small>
                                    <div class="feature-desc">
                                        <p>I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                        <p>Aliquam lobortis nec nibh a blandit. Quisque ultricies pharetra hendrerit. Nunc fringilla sapien eget viverra mollis.</p>
                                    </div> 
                                    <div class="signature text-right">
                                        <div class="inner">
                                            <img src="/assets/signature.png" alt="Signature">
                                            <cite class="name">karthick</cite>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg_info clearfix">
                                <div class="inner-text">
                                    <ul>
                                        <li class="user_name"><strong><i class="fa fa-user"></i>Name</strong> : karthick nagarjan</li>
                                        <li><strong><i class="fa fa-calendar"></i>Birthdate</strong> : March 18, 1988</li>
                                        <li><strong><i class="fa fa-phone"></i>Phone</strong> : +123 (21) 1234-5678</li>
                                        <li><strong><i class="fa fa-mobile-phone"></i>Mobile</strong> : +123 (21) 1234-5679</li>
                                        <li><strong><i class="fa fa-skype"></i>Skype</strong> : karthick_7</li>
                                        <li><strong><i class="fa fa-envelope"></i>Email</strong> : karthick965938@gmail.com</li>
                                        <li><strong><i class="fa fa-globe"></i>Website</strong> : <a href="#" target="_blank">www.noname.com</a></li>
                                        <li><strong><i class="fa fa-map-marker"></i>Adresse</strong> : 1732 Monroe Street Houston, Chennai.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="social-ul bg_social" id="profile_social_ul">
                                <ul>
                                    <li class="social-twitter"><a href="#" target="_blank" title="" data-toggle="tooltip" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li class="social-facebook"><a href="#" target="_blank" title="" data-toggle="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li class="social-google"><a href="#" target="_blank" title="" data-toggle="tooltip" data-original-title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                                    <li class="social-linkedin"><a href="#" target="_blank" title="" data-toggle="tooltip" data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="social-dribbble"><a href="#" target="_blank" title="" data-toggle="tooltip" data-original-title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
                                    <li class="social-behance"><a href="#" target="_blank" title="" data-toggle="tooltip" data-original-title="Behance"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>  
</div>
